.article-text-area {
  text-align: center;
  margin-top: 1em;
}

.article-comment-list {
  margin: auto;
  overflow: hidden;
}

h3 {
  text-align: center;
}

.showComment {
  margin: auto;
}

.author {
  font-weight: bold;
}

.card {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.reply {
  margin: auto;
  padding-left: .5em;
}

.child-component {
    padding-left: 2.5em;
    width: 100%
  }

.comment-box {
  width:80%;
  margin: auto;
  margin-top: 1em;
}

.button {
  background-color: white;
  border-color: lightgrey;
  font-weight: 500;
  margin-bottom: 2em;
}

.button:hover {
  background-color: white;
  border-color: #EC0000;
  font-weight: 500;
}

.button:focus {
  border-color: #EC0000; 
}

.showComment {
  color: #EC0000;
}

.reply {
  color: #EC0000;
}

.vote-count {
  text-align: center;
}

.textarea:focus {
  border-color: #EC0000;
}




