.domain-text-area {
  padding: 3em;
  margin: 6em;
  margin-top: 2em;
  background-color: white;
  border: solid darkslategray 1px;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
}

.domain-approved-feed {
  width: 60%;
  background-color: white;
  border: solid darkslategray 1px;
  border-radius: 0.5em;
  margin: auto;
}

.domain-pending-feed {
  width: 60%;
  background-color: white;
  border: solid darkslategray 1px;
  border-radius: 0.5em;
  margin: auto;
  margin-top: 2em;
}


.domain-feed-card {
  width: 70%;
  border: solid grey 0.2em;
  border-radius: 0.5em;
  margin-bottom: 2.5em;
}