.domain-text-area {
  text-align: center;
  margin-top: 1em;
}

.domain-approved-feed {
  margin-top: 1em;
  padding: 2em;
}

.domain-pending-feed {
  padding: 2em;
  margin-top: 2em;
  .card {
  margin-top: 1em;
  padding: 1em;
  background-color: #f1f1f1;
  }
}

