.domain-text-area {
  height: 35vh;
  border: solid mediumslateblue 0.2em;
  margin-bottom: 1.5em;
}

.domain-approved-feed {
  width: 60%;
  border: solid orangered 0.2em;
  margin: auto;
  margin-bottom: 4em;
}

.domain-pending-feed {
  width: 60%;
  border: solid orangered 0.2em;
  margin: auto;
}


.domain-approved-feed-card {
  height: 10vh;
  border: solid hotpink 0.2em;
  margin-bottom: 1.5em;
}