.home-text-area {
  margin-top: 0.5em;
  text-align: center;
  background-color: white;
  padding: 1em;
}

.feed {
  justify-content: center; 
  padding: 2em;
  h3 {
    text-align: center;
  }
}

.card {
  margin-top: 1em;
  padding: 1em;
}

.card-image {
  max-height: 64px;
  max-width: 64px;
  margin: 1em;
}

.media-content {
  margin: 1em;
}

.title {
  max-width: 1000px;
  margin-bottom: 0;
}

.title:not(:last-child) {
  margin-bottom: 0;
}

.sub-title {
  font-size: 1.5rem;
}
