.nav-column {
  border: solid black 0.2em;
  height: 100vh;
  text-align: center;
}

.main-column {
  text-align: center;
}

.user-nav{
  height: 49.8vh;
  border: solid mediumaquamarine 0.2em;
  img {
    width: 10em;
    height: 8em; 
    margin: 1em;
  }
  ul {
    list-style-type: none; 
    text-align: left; 
    padding: 0;
  }
  .user-nav-box {
    border: solid yellowgreen 0.2em;
    width: 50%;
    margin: auto;
  }
}

.trends-box{
  height: 49.8vh;
  border: solid rebeccapurple 0.2em;
}

.home-text-area {
  height: 35vh;
  border: solid mediumslateblue 0.2em;
  margin-bottom: 1.5em;
}

.home-news-story-feed {
  width: 60%;
  border: solid orangered 0.2em;
  margin: auto;
}

.article-text-area {
  height: 35vh;
  border: solid mediumslateblue 0.2em;
  margin-bottom: 1.5em;
}

.article-comment-list {
  width: 85%;
  border: solid orangered 0.2em;
  margin: auto;
}

.domain-text-area {
  height: 35vh;
  border: solid mediumslateblue 0.2em;
  margin-bottom: 1.5em;
}

.domain-approved-feed {
  width: 60%;
  border: solid orangered 0.2em;
  margin: auto;
  margin-bottom: 4em;
}

.domain-pending-feed {
  width: 60%;
  border: solid orangered 0.2em;
  margin: auto;
}

.report-form {
  border: solid greenyellow 0.2em;
  margin: auto;
  margin-top: 20vh;
  height: 50%;
  width: 50%;
}

.home-news-story-feed-card {
  height: 10vh;
  border: solid maroon 0.2em;
  margin-bottom: 1.5em;
}

.domain-approved-feed-card {
  height: 10vh;
  border: solid hotpink 0.2em;
  margin-bottom: 1.5em;
}

.comment-card {
  height: 10vh;
  border: solid red 0.2em;
  margin-bottom: 1.5em;
}

