body {
  background-color: #F7A3F1;
}

.nav-column {
  text-align: center;
  margin: 2.5em;
  margin-top: 2em;
  border: solid darkslategray 1px;
  border-radius: 1em;
}

.main-column {
  text-align: center;
  background-color:#F5F8FA;
  margin-top: 2em;
  padding: 1.5em;
  padding-top: 0;
  border: solid darkslategray 1px;
  border-radius: 1em;
}

