.user-nav{
  font-size: 1em;
  border: solid black 1px;
  border-radius: 0.5em;
  img {
    width: 10em;
    height: 8em; 
    margin: 1em;
  }
  ul {
    list-style-type: none; 
    text-align: center; 
    padding: 0;
    margin-top: 0.2em;
  }
  .user-nav-box {
    background-color: white;
    margin: auto;
    margin-top: 2em;
  }
  .search-bar {
    text-align: center;
    padding: 1.5em;
    .row {
      display: inline-block;
    }
  }
}

.trends-box{
  .trends-box-inner {
    h2 {
      font-size: 1.4em;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 1.2em;
      color: #3E82C1;
    }
    background-color: white;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border: solid black 1px;
    border-radius: 0.5em;
  }
}